{% extends 'base.html' %} 
{% load static %}

{% block title %}
Escola | Raimundo
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}

<div class="container">
        <div class="jumbotron">
            <h1>Seja Bem Vindo!!</h1>
            <p>Aqui você simplesmente posta algumas coisas e diz as caracteristicas do que postou e é só amor e paz </p>      
        </div>
</div>

{% endblock body %}
    
    
