{% extends 'base.html' %}
{% load static  %}

{% block title %}
     Usuario| Detalhes
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block style %} 


{% endblock style %}

{% block body %}


   <h6>Detalhes do usuário:</h6><br>

   <p> User:    {{users.username}}  </p>  

    <p> Nome:    {{users.nome}} </p>

    <p>Data de nascimento:    {{users.dtNascimento}} </p>

    <p>Email:    {{users.email}} </p>
   
    <p> CPF:     {{users.cpf}}    </p>
  
    <p>RG:    {{users.rg}}  </p>
   

   
    </div>

{% endblock body %}