{% extends 'base.html' %}
{% load static  %}

{% block title %}
     Escola| Suas Informações
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block style %} 
<h3>Detalhes:</h3>


<p>Nome: {{users.username}}</p>
<p>RG: {{users.RG}}</p>
<p>CPF: {{users.cpf}}</p>
<p>Email: {{users.email}}</p>
<p>Conta de aluno: {{users.is_aluno}}</p>
<p>Conta de professor: {{users.is_professor}}</p>
<p>Conta de admin: {{users.is_admin}}</p>



{% endblock style %}

{% block body %}




{% endblock body %}